.food-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem;

  /* * {
    min-width: 25rem;
    max-width: 40rem;
  } */

  img {
    border-radius: 2rem;
    flex: 1 0;
    object-fit: cover;
    height: 35rem;
    margin: 1rem;
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    font-size: 2rem;
    font-weight: bold;
  }

  .heart-icon {
    color: grey;
    font-size: 2.5rem;
    user-select: none;
  }

  .heart-icon.favorite {
    color: #e72929;
  }

  .rating {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .origins {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    span {
      padding: .5rem;
      font-size: 1.2rem;
      margin: .5rem .5rem .5rem 0;
      border-radius: 2rem;
      background-color: aliceblue;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    a {
      background-color: #f0f0f0;
      padding: .3rem .5rem;
      margin: .2rem .15rem;
      border-radius: 10rem;
      font-weight: 600;
      color: blue;
    }
  }

  .cooking-time {
    margin-top: 1rem;

    span {
      padding: .6rem 2rem .6rem 0;
      border-radius: 10rem;
      font-size: 1.3rem;
    }
  }

  .price {
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
    color: green;

    &::before {
      content: 'Price: ';
      color: darkgrey;
    }
  }

  button {
    color: white;
    background-color: #e72929;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    display: block;
    width: 100%;
    margin-top: 1rem;

    &:hover {
      cursor: pointer;
      opacity: .9;
    }
  }
}
