.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;

  input {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: var(--darker-grey);
    opacity: .9;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
  }

  button {
    color: grey;
    font-weight: 500;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    background-color: #EA3E3E;
    color: white;
    outline: none;
    border: none;
    transition: background-color .2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #DB1A1A;
    }
  }
}
