/* MOBILE SIZE */
main {
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  min-height: 100%;
  padding-top: 8.5rem;
}

/* TABLET SIZE */
@media only screen and (min-width: 620px) {
  main {
    max-width: 800px;
  }
}

/* DESKTOP SIZE */
@media only screen and (min-width: 1200px) {
  main {
    max-width: 80vw;
  }
}
