/* MOBILE SIZE */
main {
  min-height: 100dvh;
  padding-top: 7rem;
}

/* TABLET SIZE */
/* @media only screen and (min-width: 620px) {
  main {
    max-width: 80vw;
  }
} */

/* DESKTOP SIZE */
/* @media only screen and (min-width: 1200px) {
  main {
    max-width: 85vw;
  }
} */
