/* MOBILE SIZE */
main {
  padding: 8rem 1rem 2rem 1rem;
  min-height: 100vh;
  margin: 0 auto;
  background-color: lightblue;
}

/* TABLET SIZE */
@media only screen and (min-width: 620px) {
  main {
    max-width: 800px;
    background-color: lightgreen;
  }
}

/* DESKTOP SIZE */
@media only screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
    background-color: lightcoral;
  }
}
