table {
  width: 100%;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h3 {
  margin-top: .5rem;
  margin-left: .3rem;
  color: gray;
}

a:hover {
  cursor: pointer;
  opacity: .9;
}

td.food-item {
  border-bottom: 1px solid #e4e4e4;
}

td {
  height: 3rem;

  img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 100rem;
  }
}
