@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, button {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

