@import 'normalize.css';
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/* Reset and default styles */
p, a, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

ul, li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base mobile size styles */
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  position: relative;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Tablet size styles */
@media only screen and (min-width: 620px) {
  html {
    font-size: 18px;
  }
}

/* Desktop size styles */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
