.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    background-color: var(--darker-grey);
    opacity: .9;
    padding: .3rem .5rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    font-weight: 600;
    color: var(--light-black);
  }
}
