.general-container {
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
}

th, td {
  border-bottom: 1px solid #e4e4e4;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #faa4a4;

  &:first-child {
    border-top-left-radius: 0.5rem;
  }

  &:last-child {
    border-top-right-radius: 0.5rem;
  }
}

button {
  padding: 0.5rem;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

@media only screen and (max-width: 620px) {
  .order-id {
    display: none;
  }

  th {
    &:nth-child(2) {
      border-top-left-radius: 0.5rem;
    }
  }
}
