.container {
  height: 100%;
  position: relative;

  button {
    position: absolute;
    padding: .6rem 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    top: 1rem;
    left: 5rem;
    z-index: 500;
    cursor: pointer;
    border: none;
    color: white;
    background-color: grey;
    opacity: .8;
    border-radius: .5rem;
    font-weight: 500;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__map {
    height: 100%;
    border-radius: 1rem;
    box-shadow: var(--default-box-shadow);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0;
  }
}
