header {
  position: relative;
  background-color: white;
  padding: 0;
  border-bottom: 1px solid #e72929;
}

a {
  color: #af1313;

  &:hover {
    background-color: #e72929;
    color: white;
    cursor: pointer;
  }
}

a span {
  background-color: #ff4d4d;
  color: white;
  padding: .1rem .45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo {
  font-weight: bold;
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
}

.menu-container {
  position: relative;
}

.menu-container:hover .menu {
  display: block;
}

.menu {
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  display: none;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}
