@import '../../../../scss/_mixins.scss';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #FFDAB9;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  height: 7rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s, box-shadow 0.3s;

  &--scrolled {
    background-color: rgb(246, 204, 167);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
}

.brand {
  grid-row: span 2;
  @include justify-gap(20px);

  img {
    height: 75px;
  }

  a {
    font-family: "Ma Shan Zheng", cursive;
    font-size: 2.5rem;
    color : hsla( 355, 75%, 56%, 1 );
  }
}

.login {
  display: none
}

@media only screen and (min-width: 1200px) {
  .login {
    @include justify-between();
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: .8rem;
    margin-left: auto;
    color: var(--light-brown);

    &__not-logged-in {
      @include justify-gap(8px);
      align-self: center;

      a {
        color: var(--dark-brown);
        font-size: .9rem;
        position: relative;

        &:hover {
          color: var(--light-brown);
          cursor: pointer;
        }

        &::after {
          content: '';
          position: absolute;
          height: .1rem;
          left:  0;
          bottom: 0;
          width: 0;
          background-color: var(--dark-brown);
          transition: width 0.2s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

    &__logged-in {
      @include justify-gap(50px);
    }

    &__welcome {
      @include justify-gap(8px);
    }

    &__logout-icon {
      color: var(--light-brown);

      &:hover {
        color: var(--dark-brown);
        cursor: pointer;
      }
    }
  }
}

.options {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .options {
    @include justify-gap(50px);
    margin-left: auto;

    ul {
      @include justify-gap(30px);
    }

    &__text {
      color: var(--dark-brown);
      position: relative;
      font-weight: 600;

      &:hover {
        color: var(--light-brown);
        cursor: pointer;
      }

      &::after {
        content: '';
        position: absolute;
        height: .1rem;
        left:  0;
        bottom: 0;
        width: 0;
        background-color: var(--dark-brown);
        transition: width 0.2s;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &__cart-container {
      @include justify-gap(5px);

      fa-icon {
        position: relative;
        color: var(--dark-brown);
        top: 2px;
      }
    }

    &__cart-number {
      font-weight: 500;
      background-color: #ff4d4d;
      color: white;
      padding: .1rem .45rem;
      border-radius: 100rem;
      font-size: 0.8rem;
    }
  }
}


.hamburger-menu {
  display: block;
  align-self: center;
  justify-self: end;
  color: var(--dark-brown);
  font-size: 1.5rem;
  cursor: pointer;

  @media only screen and (min-width: 1200px) {
    display: none;
  }
}
