.header {
  background-color: #FFDAB9;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 10rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  display: grid;
  grid-template-columns: 1fr auto; /* First div takes auto width, the rest takes 1fr */
  grid-template-rows: 1fr 1fr; /* Single row taking full height */
}

.brand {
  grid-row: span 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {

}

.options {

}


/* .header > div:first-child {
  grid-row: 1 / span 2;
}

.header > div:nth-child(2),
.header > div:nth-child(3) {
  grid-row: 2;
}
 */

/* a {
  color: #af1313;

  &:hover {
    background-color: #e72929;
    color: white;
    cursor: pointer;
  }
}

a span {
  background-color: #ff4d4d;
  color: white;
  padding: .1rem .45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo {
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
}

.menu-container {
  position: relative;
}

.menu-container:hover .menu {
  display: block;
}

.menu {
  position: absolute;
  z-index: 9999;
  background-color: whitesmoke;
  display: none;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}
 */
