:host {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --label-color: #8597a3;
  --border-color: #eee;
  --focus-color: #665856;
  --error-color: red;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
  background-color: var(--light-grey);

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22rem;
  }
}
