:host {
  --border-color: #eee;
}

.checkout-page {
  padding: 2rem 0 5rem 0;
  max-width: 90vw;
  margin: 0 auto;

  &__section-header {
    color: gray;
    font-weight: 500;
    font-size: 1.5rem;

    &.first {
      padding-bottom: 1rem;
    }
  }
}

.content {
  &__form-section {
    padding-bottom: 3rem;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: var(--default-box-shadow);
    }
  }

  &__form-header {
    display: none;
  }

  &__map-section {
    padding: 2rem 0 3rem 0;
    border-bottom: 2px solid var(--border-color);
    height: 15rem;

    & > h2 {
      padding-bottom: 1rem;
    }
  }

  &__order-section {
    padding: 2rem 0 3rem 0;
  }
}

.button-container {
  margin: 0 auto;
}

@media only screen and (min-width: 620px) {
  .checkout-page {
    max-width: 70vw;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;

    &__form-header {
      display: block;
      color: gray;
      font-weight: 500;
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }

    &__form-section {
      padding: 0;
      border: none;

      form {
        gap: 4rem;
        height: 100%;
        justify-content: center;
      }
    }

    &__map-section > h2 {
      display: none;
    }

    &__map-section {
      padding: 0;
      border: none;
    }

    &__order-section {
      grid-column: span 2;
      padding: 2rem 8rem 3rem 8rem;
      border-top: 2px solid var(--border-color);
    }
  }

  .button-container {
    max-width: 30%;
  }
}
