.container {
  display: flex;
  justify-content: center;
  margin: 1rem 2rem 6rem 2rem;
  flex-wrap: wrap;
}

.content {
  width: 35rem;
  margin-right: 3rem;
}

.content, form {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
}

.buttons-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;

  .buttons {
    margin: 2rem;
    width: 35rem;
  }

  button {
    color: white;
    background-color: var(--vibrant-red);
    width: 100%;
    height: 3rem;
    opacity: .8;
    font-size: 1.3rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 2px grey;
    transition: all .1s ease-in-out;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
