:host {
  --footer-light-brown: #8C6239;
  --footer-dark-brown: #3D1C02;
}

.footer {
  background-color:#FFE5B4;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -3px 3px -2px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;

  .footer-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--footer-dark-brown);
    }

    p {
      font-size: 1rem;
      color: var(--footer-light-brown);
    }
  }

  .footer-section:last-child {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.6rem;
  width: 200px;
  margin: 0 auto;
  color: var(--footer-light-brown);
  cursor: pointer;
}

hr {
  margin: 10px 0;
  border-color: var(--footer-light-brown);
  opacity: 0.2;
}

.copyright-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  font-weight: 600;

  img {
    height: 3.5rem;
  }

  &__text {
    font-size: .9rem !important;
    font-weight: 300;
  }
}

/* TABLET SIZE */
@media only screen and (min-width: 620px) and (max-width: 1199px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;

    .footer-section {
      justify-content: flex-start;
    }

    .footer-section:last-child {
      grid-column: span 3;
      align-self: center;
    }
  }
}

/* DESKTOP SIZE */
@media only screen and (min-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .footer-section {
      padding: 20px;
    }


    .footer-section:nth-child(3) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
