footer {
  background-color: #f7cac9; /* Solid color */
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
}

.footer-container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the content */
}
