@mixin justify-between() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin justify-gap($gap) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap;
}
