@import 'normalize.css';

:root {
  --primary-color: #af1313;
  --light-brown: #654321;
  --dark-brown: #3B170B;
  --vibrant-red: #EB1A25;
}

/* RESET AND DEFAULT STYLES */
p, a, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
}

ul, li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE MOBILE SIZE STYLES */
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* TABLET SIZE STYLES */
@media only screen and (min-width: 620px) {
  html {
    font-size: 18px;
  }
}

/* DESKTOP SIZE STYLES */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
