@media only screen and (max-width: 1199px) {
  .default-button {
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: whitesmoke;
    background-color: var(--vibrant-red);
    overflow: hidden;
    padding: .6rem 2rem;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1200px) {
  .default-button {
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: var(--vibrant-red);
    font-family: roboto;
    overflow: hidden;
    padding: .4rem 2rem;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    cursor: pointer;

    &::after {
      background-color: var(--vibrant-red);
      border-radius: 3rem;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: .2s transform ease-out;
      will-change: transform;
      z-index: -1;
    }

    &:hover::after {
      transform: translate(0, 0);
    }

    &:hover {
      border: 2px solid transparent;
      color: whitesmoke;
      transform: scale(1.05);
      will-change: transform;
    }
  }
}
