.container {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    height: 3.5rem;
    border: none;
    outline: none;
    font-weight: 100;
    border-radius: .8rem;
    width: 100%;
    opacity: .8;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
