:host {
  --dark-grey: #414141;
  --vibrant-red: #e72929;
}

.home {

  .hero {
    padding: 3.5rem 0;
    background-image: url("../../../../assets/images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-color: #CECACA;
    background-blend-mode: multiply;

    &__inner-container {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  &__food-cards {
    display: flex;
    padding: 3rem 0;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }

  &__card {
    a {
      height: 23rem;
      width: 20rem;
      border: 1px solid whitesmoke;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      color: var(--vibrant-red);
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);

      img {
        height: 14.5rem;
        object-fit: cover;
      }
    }
  }
}

.content {
  padding: 0 1rem 0.5rem 1rem;
  height: fit-content;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__food-name {
    font-weight: 600;
  }

  &__heart-icon {
    font-size: 1.2rem;
    color: grey;

    &--favorite {
      color: var(--vibrant-red);
    }
  }

  &__stars {
    margin: 0.5rem 0;
  }

  &__origin-and-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__origins {
    flex: 9;

    span {
      border-radius: 2rem;
      color: grey;
      background-color: whitesmoke;
      display: inline-block;
      font-size: 0.8rem;
      margin-right: 0.3rem;
      padding: 0 0.5rem;
      margin-top: 0.2rem;
    }
  }

  &__cooking-time {
    flex: 3;
    text-align: end;
    font-size: 0.7rem;
    font-weight: 600;
  }

  &__price {
    color: var(--dark-grey);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .home {
    &__card {
      a {
        &:hover {
          img {
            opacity: 1;
          }
        }

        img {
          opacity: 0.8;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
  }
}
